@font-face {
  font-family: 'Aniron';
  src: url('/public/custom-font/Aniron-Bold.eot');
  src: url('/public/custom-font/Aniron-Bold.eot?#iefix') format('embedded-opentype'),
      url('/public/custom-font/Aniron-Bold.woff2') format('woff2'),
      url('/public/custom-font/Aniron-Bold.woff') format('woff'),
      url('/public/custom-font/Aniron-Bold.ttf') format('truetype'),
      url('/public/custom-font/Aniron-Bold.svg#Aniron-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------- Header ---------- */
header {
  padding: 1rem;
}

h1 {
  font-family: 'Aniron'
}

/* ---------- Nav ---------- */
nav {
  padding-bottom: 1rem;
}

nav ul {
  display: flex;
  width: 90vw;
  justify-content: space-around;
  list-style: none;
}

/* ---------- Home Page ---------- */
/* .selection button {
  width: 30vw;
  margin: 3vw;
  padding: 1rem;
} */

form h2 {
  font-size: 1.25rem;
  padding: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55vw;
}

form input {
  width: 100%;
}

.start-btn {
  width: 35vw;
  padding: 1rem;
  margin: 2rem;
}

/* ---------- Reviews Page ---------- */
.reviews-list {
  list-style: none;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.25rem 0;
}

.review figure {
  width: 45%;
}

.review__img {
  width: 100%;
}

.review figcaption {
  width: 55%;
  padding: 0 0.5rem;
}

.review__title {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.review p {
  padding: 0.25rem;
}

@media only screen and (min-width: 768px) {

 .reviews-list {
  flex-flow: row wrap;
  justify-content: center;
 }
  .review {
    width: 300px;
    flex-direction: column;
    padding: 1rem;
  }

  .review figure {
    width: 100%;
  }

  .review__img {
    width: 100%;
  }

  .review figcaption {
    width: 100%;
    padding: 0 0.5rem;
  }
}




/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
