@font-face {
  font-family: 'Aniron';
  src: url('/public/custom-font/Aniron-Bold.eot');
  src: url('/public/custom-font/Aniron-Bold.eot?#iefix') format('embedded-opentype'),
      url('/public/custom-font/Aniron-Bold.woff2') format('woff2'),
      url('/public/custom-font/Aniron-Bold.woff') format('woff'),
      url('/public/custom-font/Aniron-Bold.ttf') format('truetype'),
      url('/public/custom-font/Aniron-Bold.svg#Aniron-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-color: #8D9375;
} */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------- Header ---------- */
header {
  padding: 1rem;
}

h1 {
  font-family: 'Aniron';
  /* color: #885D36;
  text-shadow: 2px 0 2px #D1CAB1,
  -2px 0 2px #D1CAB1,
  0 -2px 2px #D1CAB1,
  0 2px 2px #D1CAB1; */
}

/* ---------- Nav ---------- */
.selection {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  padding: 0 0.5rem;
  justify-content: space-between;
}


.selection li {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 40vw;  
  background-color: #D1CAB1;
  border-radius: 10px;
}

#all-reviews {
  background-color: paleturquoise;
}

@media only screen and (min-width: 768px) {
  .selection li {
    width: 20vw;
  }
}

@media only screen and (min-width: 1295px) {
  .selection li {
    width: 10vw;
  }
}

/* ---------- Home Page ---------- */
/* .selection button {
  width: 30vw;
  margin: 3vw;
  padding: 1rem;
} */

form h2 {
  font-size: 1.25rem;
  padding: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55vw;
}

form input {
  width: 100%;
}

.start-btn {
  width: 35vw;
  padding: 1rem;
  margin: 2rem;
}

/* ---------- Reviews Page ---------- */
.reviews-list {
  list-style: none;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.25rem 0;
}

.review figure {
  width: 45%;
}

.review__img {
  width: 100%;
  border-radius: 30px;
}

.review figcaption {
  width: 55%;
  padding: 0 0.5rem; 
  color: black;
}

.review__title {
  font-size: 1rem;
  /* padding-bottom: 0.5rem; */
  text-decoration: none;
}

.review p {
  padding: 0.25rem ;
}

.review-stats {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: smaller;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {

 .reviews-list {
  flex-flow: row wrap;
  justify-content: center;
 }
  .review {
    width: 300px;
    flex-direction: column;
    padding: 1rem;
  }

  .review figure {
    width: 100%;
  }

  .review__img {
    width: 100%;
  }

  .review figcaption {
    width: 100%;
    padding: 0 0.5rem;
  }
}

/* ---------- Single Review Page ---------- */
.single-review {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-review__title {
  padding: 1rem 1rem 0 1rem;
  width: 100%;
}

.single-review figure {
  width: 100%;
}

.single-review__img {
  width: 100%;
  border-radius: 30px;
}

.single-review h3, h4 {
  padding: 0.25rem;
}

.single-review p {
  padding: 1rem 2rem;
}

.votes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.votes-container p {
  padding: 0.5rem 1rem 0.5rem 0;
}

#like-btn {
  color: black;
  padding: 0.3rem;
  /* margin-right: 0.5rem; */
  border-radius: 10px;
}

/* #dislike-btn {
  color: black;
  padding: 0.3rem;
  border-radius: 10px;
} */

.fa-thumbs-up, .fa-thumbs-down {
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .single-review {
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
   .single-review {
     width: 90vw;
     flex-flow: row wrap;
     padding: 1rem;
   }

   .single-review figure {
    width: 40%;
  }
  
  .single-review__img {
    width: 100%;
  }

   .single-review figcaption {
     width: 60%;
     padding: 0 0.5rem;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
   }

   .single-review__owner {
    margin: 0 3rem 0 2rem;
   }
   .single-review__body {
    text-align: left;
   }

   .votes-container {
    width: 37%;
    /* justify-content: flex-end; */
    margin-left: auto;
  }
 }

 /* ---------- Comments ---------- */
.comments {
  width: 90vw;
  background-color: paleturquoise;
  border-radius: 30px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.comments__list {
  list-style: none;
}

.comments__list li {
  margin: 0 0 0.5rem 0;

}

#comment-adder{
  width: 100%;
  margin: auto auto;
}

#comment-adder label {
  margin-bottom: 0.5rem;
}

.new-comment__container {
  display: flex;
  margin: 0.25rem 0 0.5rem 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.new-comment__container textarea {
  height: 2.2rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 5px;
}

.new-comment__container button {
  padding: 0.5rem;
  border-radius: 8px;
}

#new-comment {
  margin: 0 0.5rem 0 0;
}

.comment-card {
  background-color: white;
  border-radius: 15px;
  padding: 0.5rem;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment-body {
  text-align: left;
  padding: 0.25rem 0;
}

.comment-footer{
  display: flex;
  justify-content: space-between;
}

#delete-form {
  width: fit-content;
}

#delete-form__btn {
  width: 1.2rem;
  text-align: center;
  line-height: 1.2;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
